API_DOMAIN=api.81.27.108.148.sslip.io

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

BADMINTON_DB_NAME=badminton_dw_individual
BADMINTON_DB_HOST=db
BADMINTON_DB_PORT=5432
BADMINTON_DB_USER=postgres
BADMINTON_PSQL_BIN=psql
BADMINTON_CORS_ORIGINS=https://jaxels20.github.io
PGPASSWORD=change-me
